{
  "nestdev": {
    "url": "http://test.amwork.loc",
    "baseDomain": "amwork.loc",
    "subdomain": "test",
    "email": "test@test.com",
    "password": "test",
    "entityTypeId": 123,
    "entityId": 123,
    "teslaDealEntityId": 123,
    "elonContactEntityId": 123,
    "boardId": 123,
    "stageId": 123,
    "fieldGroupId": 123,
    "activityTypeId": 123,
    "taskId": 123,
    "subtaskId": 123,
    "taskBoardId": 123,
    "taskStageId": 15022001,
    "taskSettingsId": 123,
    "taskCommentId": 123,
    "activityId": 123,
    "noteId": 123,
    "userId": 123,
    "budgetFieldId": 123,
    "fileId": "11111111-1111-1111-1111-111111111111",
    "mailboxId": 123,
    "folderId": 123,
    "messageId": 123,
    "payloadId": 123,
    "automationId": 123,
    "taskAutomationId": 123,
    "changeStageAutomationId": 123,
    "notificationId": 123
  },
  "nestprod": {
    "url": "https://test.amwork.com",
    "baseDomain": "amwork.com",
    "subdomain": "test",
    "email": "test@test.com",
    "password": "test",
    "entityTypeId": 123,
    "entityId": 123,
    "teslaDealEntityId": 123,
    "elonContactEntityId": 123,
    "boardId": 123,
    "stageId": 123,
    "fieldGroupId": 123,
    "activityTypeId": 123,
    "taskId": 123,
    "subtaskId": 123,
    "taskBoardId": 123,
    "taskStageId": 15022001,
    "taskSettingsId": 123,
    "taskCommentId": 123,
    "activityId": 123,
    "noteId": 123,
    "userId": 123,
    "budgetFieldId": 123,
    "fileId": "11111111-1111-1111-1111-111111111111",
    "mailboxId": 123,
    "folderId": 123,
    "messageId": 123,
    "payloadId": 123,
    "automationId": 123,
    "taskAutomationId": 123,
    "changeStageAutomationId": 123,
    "notificationId": 123
  },
  "neststaging": {
      "url": "https://test.amwork.com",
      "baseDomain": "amwork.com",
      "subdomain": "test",
      "email": "test@test.com",
      "password": "test",
      "entityTypeId": 123,
      "entityId": 123,
      "teslaDealEntityId": 123,
      "elonContactEntityId": 123,
      "boardId": 123,
      "stageId": 123,
      "fieldGroupId": 123,
      "activityTypeId": 123,
      "taskId": 123,
      "subtaskId": 123,
      "taskBoardId": 123,
      "taskStageId": 15022001,
      "taskSettingsId": 123,
      "taskCommentId": 123,
      "activityId": 123,
      "noteId": 123,
      "userId": 123,
      "budgetFieldId": 123,
      "fileId": "11111111-1111-1111-1111-111111111111",
      "mailboxId": 123,
      "folderId": 123,
      "messageId": 123,
      "payloadId": 123,
      "automationId": 123,
      "taskAutomationId": 123,
      "changeStageAutomationId": 123,
      "notificationId": 123
  }
}
