<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Additional User Request</title>
</head>

<body>
  <p>Additional User Request</p>
  <table>
    <tr>
      <th colspan="2">Registration data</th>
    </tr>
    <tr>
      <td>Account Id</td>
      <td>{{accountId}}</td>
    </tr>
    <tr>
      <td>Account Name</td>
      <td>{{accountName}}</td>
    </tr>
    <tr>
      <td>User Name</td>
      <td>{{userName}}</td>
    </tr>
    <tr>
      <td>User Email</td>
      <td>{{userEmail}}</td>
    </tr>
  </table>
  <table>
    <tr>
      <th colspan="2">Request data</th>
    </tr>
    <tr>
      <td>Name</td>
      <td>{{name}}</td>
    </tr>
    <tr>
      <td>Phone</td>
      <td>{{phone}}</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>{{email}}</td>
    </tr>
    <tr>
      <td>Number of users</td>
      <td>{{userNumber}}</td>
    </tr>
  </table>
</body>